@font-face {
    font-family: MagicSchoolOne;
    src: url(styling/MagicSchoolOne.ttf);
}

@font-face {
    font-family: WizardOfTheMoon;
    src: url(styling/WizardOfTheMoon.ttf);
}


body {
    background-image: 
    url(styling/hogwarts.jpg),
    url(styling/dining.jpg);
    
    background-size: 
    1400px 940px,
    1400px 1005px;
    
    background-position-x:
    0%,
    100%;
    

    background-position-y:
    0%,
    100%;


    background-repeat: no-repeat;
    background-color: black;
}

.houses {
  width: 25%;
  height: 35%;
  margin-top: 50px;
  margin-left: 38%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.studentCard{
        background: rgb(61, 61, 61);
        color: white;
        border: 5px solid white;
        -moz-border-radius: 100px / 50px;
        -webkit-border-radius: 100px / 50px;
        border-radius: 100px / 50px;
        font-family: WizardOfTheMoon;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Hufflepuff {
    background: rgb(214, 214, 2);
    color: white;
    border: 5px solid black;
}

.Slytherin{
    background: green;
    color: white;
    border: 5px solid silver;
}

.Ravenclaw {
    background: blue;
    color: white;
    border: 5px solid rgb(117, 93, 93);
}

.Gryffindor{
    background: rgb(119, 28, 28);
    color: white;
    border: 5px solid rgb(196, 142, 5);
}

#mainHeader{
font-family: MagicSchoolOne;
display: flex;
justify-content: center;
font-size: 100px;
}

.jumbotron {
    background-color: rgba(34, 33, 33, 0.4);
    border: 8px solid white;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: WizardOfTheMoon;
    font-size: 20px;
 }

#sortingButton {
    margin-top: 50px;
    margin-left: 250px;
}

#sortButton {
    margin-left: 130px;
}

.expelButton{
    margin-left: 78px;
}

 #nameForm {
    background-color: rgba(34, 33, 33, 0.4);
    border: 5px solid white;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: WizardOfTheMoon;
    font-size: 30px;
 }

 .nameLabel {
     display: flex;
     justify-content: center;
 }
 